<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ontario Parks API</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <span id="topBar">
      <h1>Ontario Provincial Parks API</h1>
      <button id="adminLog">Admin Logon</button>
    </span>
    <p>Please complete the below form to access the api. You will receive an email with a unique token for you to use.</p>
    <form action="/signup" method="POST">
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        <input type="email" placeholder="Email" name="email">
        <input type="submit">
    </form>
    
    <script src="https://kit.fontawesome.com/5b06072905.js" crossorigin="anonymous"></script>
    <script src="js/home.js"></script>
  </body>
</html>