.userName{
    font-size: 20px;
}

i{
    font-size: 20px;
}

h1{
   text-decoration: underline; 
}

.hidden{
    display: none;
}

#topBar{
    display: flex;
    justify-content: space-between;
}

#logBtn, #adminLog{
    height: 2rem;
}